
<%- include('./partials/head') %> 

<div class="container">

  <h2>Entrega Nro. 06 - WebSockets</h2>  

  <form action="/api/productos" method="post" class="formulario">
    <input class="inputs" name="title" type="text" placeholder="Nombre Producto">    
    <input class="inputs" name="price" type="text" placeholder="Precio">
    <input class="inputs" name="thumbnail" type="text" placeholder="Url Imagen">
    <button class="btn">Guardar</button>
  </form>    
  
</div>

<div class="container">

  <h2>Productos Cargados</h2>  

   
  
</div>

<%- include('./partials/footer') %> 